#compatible with python 3.8.2
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
cryptography==3.0
cycler==0.10.0
docutils==0.16
idna==2.10
jeepney==0.4.3
keyring==21.3.1
kiwisolver==1.2.0
matplot==0.1.9
matplotlib==3.3.1
numpy==1.19.1
packaging==20.4
pandas==1.1.1
Pillow==7.2.0
pkginfo==1.5.0.1
pycparser==2.20
Pygments==2.6.1
pyloco==0.0.139
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
SimpleWebSocketServer==0.1.1
six==1.15.0
tqdm==4.48.2
twine==3.2.0
typing==3.7.4.3
urllib3==1.25.10
ushlex==0.99.1
webencodings==0.5.1
websocket-client==0.57.0
